< class="coins">
    {{#each coins}}
        
            <div class="second">
            <img height="200" width="200" src={{this.iconUrl}} alt="">
            <h1>{{ this.name}}</h1>
            <h2>{{ this.symbol}}</h2>
            <h3>{{ this.tier}}</h3>
            
        </div>
         
        {{/each}}
</div>